:root {
  --color-primary: #00bcf3;
  --color-secondary: #051838;
  --color-primary-text: #5d6a7d;
  --color-secondary-text: #aaaaaa;
  --color-title-text: #000;
  --color-border: #e3e3e3;
  --color-background: #fff;
  --color-background-accent: #f2f5f7;
}
