<app-dashboard-header></app-dashboard-header>

<section class="dashboard-layout">
  <app-overall-hours-card class="dashboard-layout__fixed"></app-overall-hours-card>
  <app-hours-per-project-card class="dashboard-layout__flex"></app-hours-per-project-card>
  <app-timesheet-summary-card class="dashboard-layout__fixed"></app-timesheet-summary-card>
  <app-timesheets-per-employee class="dashboard-layout__flex"></app-timesheets-per-employee>
  <app-hours-per-employee class="dashboard-layout__full"></app-hours-per-employee>
</section>
