.mat-mdc-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  height: 100%;
}

.mat-mdc-card-header {
  background-color: var(--color-background-accent);
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.mat-mdc-card-title {
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 5px;

  mat-icon {
    font-size: 20px;
  }
}
